@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inconsolata:wght@200..900&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

:root{
   --cor-da-letra1: #75396F;
   --cor-da-letra2: #AD54A4;
   --cor-de-fundo: #2F714D;
   --fundo-senha: #75396F;
   --fundo-texto: #AD54A4;
   --borda: #AD54A4;
   --borda2: #75396F;
   --fonte: "DM Serif Text", serif;
   --fonte2: "Sorts Mill Goudy", serif;
}

body{ /*o título e subtítulo*/
    color: var(--cor-da-letra1);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);
}

.conteudo{
    margin: 50px; /*espaço das bordas*/
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: var(--fonte1);
}

.titulo-secundario{
    text-align: center;
    width: 100%;
    font-size: 38px;
    font-family: var(--fonte2);
    margin: 0 0 0 3px;
}

.imagem{
    width: 5%;
    justify-content: center;
}

.conteudo-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 80px;
}

.conteudo-senha{
    margin-top: 30px;
    background: var(--fundo-senha);
    color: var(--cor-da-letra2);
    padding: 10px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    font-size: 25px;

}

#campo-senha{
     background-color: var(--fundo-senha);
     border: none;
     color: var(--cor-da-letra2);
     font-size: 25px;
     width: 90%;

}

#campo-senha:focus{
    outline: none;
}

.parametro{
    background-color: var(--fundo-texto);
    border: 2 px solid var(--borda2);
    margin-top: 5%;
    padding: 10px;
}

.parametro-titulo{
    font-family: var(--fonte1);
    font-size: 22px;
}

.parametro-senha{
    width: 15%;
    margin: 0 auto;
    border: 2px solid var(--borda2);
}

.parametro-coluna-senha{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.parametro-senha-titulo{
    font-size: 20px;
    width: 15%;
    margin: 4px 4px 4px 4px;
    padding: 5px 6px 40px 5px;

}

.parametro-senha-botoes{
     display:flex;
     justify-content: center;
}

.parametro-senha-texto{
     padding: 6px;
     border-top: 2px solid var(--borda2);
     border-bottom: 2px solid var(--borda2);
     margin: 0;
     align-items: center;
     display: flex;
}

.parametro-senha-botao{
     padding: 6px;
     width: 26px;
     align-items: center;
     display: flex;
     background-color: #75396F;
     cursor: pointer;
     font-size: 20px;
     border-top: 2px solid var(--borda2);
     
}